@use "sass:color";

$rosewater: rgb(245, 224, 220);
$flamingo: rgb(242, 205, 205);
$pink: rgb(245, 194, 231);
$mauve: rgb(203, 166, 247);
$red: rgb(243, 139, 168);
$maroon: rgb(235, 160, 172);
$peach: rgb(250, 179, 135);
$yellow: rgb(249, 226, 175);
$green: rgb(166, 227, 161);
$teal: rgb(148, 226, 213);
$sky: rgb(137, 220, 235);
$sapphire: rgb(116, 199, 236);
$blue: rgb(137, 180, 250);
$lavender: rgb(180, 190, 254);

$text: rgb(205, 214, 244);
$subtext1: rgb(186, 194, 222);
$subtext0: rgb(166, 173, 200);
$overlay2: rgb(147, 153, 178);
$overlay1: rgb(127, 132, 156);
$overlay0: rgb(108, 112, 134);
$surface2: rgb(88, 91, 112);
$surface1: rgb(69, 71, 90);
$surface0: rgb(49, 50, 68);
$base: rgb(30, 30, 46);
$mantle: rgb(24, 24, 37);
$crust: rgb(17, 17, 27, 0.95);

$bg: $crust;
$block-bg: $base;
$fg: $text;
$accent: $mauve;

window>* {
  // margin: 1rem 2rem;
  // padding: 0.3rem 1rem;
  // background: $bg;
  // box-shadow:
  //   0 1px 3px 0 rgb(0 0 0 / 0.25),
  //   0 1px 2px -1px rgb(0 0 0 / 0.25);
}

.section {
  // min-height: 2rem;
  // border-radius: 4px;

  >*:not(:first-child) {
    // margin-left: 0.5rem;
    // margin-top: 0;
  }

  // >* {
  //   background: $block-bg;
  //   padding: 0.5rem 0.875rem;
  //   border-radius: 10px;
  // }
}

// label {
//   margin: 0 8px;
// }

.workspaces {
  button {
    all: unset;
    // padding: 0 0.25rem;
    min-height: 1rem;
    --size: 0.3rem;
    --bg: #{$surface1};

    .indicator {
      min-width: var(--size);
      min-height: var(--size);
      background: var(--bg);
      border-radius: calc(var(--size) / 2);
      transition-duration: 0.2s;
      transition-property: min-width, min-height, background-color, padding;
    }

    &.occupied {
      --bg: #{$overlay2};
      --size: 0.45rem;
      padding: 0 0.3rem;
    }

    &:hover,
    &.focused {
      --bg: #{$accent};
    }

    &.focused .indicator {
      min-width: calc(var(--size) * 3);
    }
  }
}

.sys-tray {
  button {
    all: unset;
    padding: 0 0.375rem;
    background: transparent;
    border: none;
    margin: 0;
  }
}

.media .cover {
  min-height: 1.2em;
  min-width: 1.2em;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
}

.battery label {
  padding-left: 0;
  margin-left: 0.25rem;
}

.audio {
  * {
    all: unset;
  }

  image {
    margin-right: 0.5em;
  }

  trough {
    background-color: color.adjust($fg, $alpha: -0.8);
    border-radius: 50%;
  }

  highlight {
    background-color: $accent;
    min-height: 0.8em;
    border-radius: 50%;
  }

  slider {
    background-color: $fg;
    border-radius: 50%;
    min-height: 1em;
    /* min-width: 1em; */
    margin: -0.2em;
  }
}

@keyframes appear-down {
  from {
    margin-top: -1rem;
    opacity: 1;
  }
}
