[submodule ".config/polybar/scripts/polybar-bluetooth"]
	path = .config/polybar/scripts/polybar-bluetooth
	url = https://github.com/msaitz/polybar-bluetooth.git
[submodule ".config/polybar/scripts/polybar-spotify"]
	path = .config/polybar/scripts/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify
[submodule ".config/polybar/scripts/polybar-kdeconnect"]
	path = .config/polybar/scripts/polybar-kdeconnect
	url = https://github.com/haideralipunjabi/polybar-kdeconnect
[submodule ".local/share/zsh/prompts/pure"]
	path = .local/share/zsh/prompts/pure
	url = https://github.com/sindresorhus/pure
