:root {
  --in-content-page-background: #232323 !important;
  scrollbar-width: thin;
  scrollbar-color: rgb(82, 82, 82) rgb(31, 31, 31);
}

body {
  --newtab-background-color: #232323 !important;
}

@-moz-document url-prefix(about:blank) {
  body {
    background-color: #232323 !important;
  }
}
